<%- include('partials/header') -%>

    <h1>Hello! I'm going to do some stuff</h1>
    <p><%= homeText %></p>
    <% posts.forEach((post) => { %>
        <h1><%= post.title %></h1>
        <p>
            <%= post.content.substring(0, 100) + '...' %>
            <a href="/post/<%= post.title %>">Read More</a>
            <form action="/delete" method="POST">
                <button name="button" type="submit" value="<%= post._id %>">Delete</button>
            </form>
        </p>
    <% }); %>
    
<%- include('partials/footer') -%>